@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Pinyon+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon Grot';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/brandon-grot.woff2') format('woff2');
}

.v-application {
  font-family: 'Brandon Grot', sans-serif !important;
}

.letter-font {
  font-family: 'Pinyon Script', cursive !important ;
}

.serif-font {
  font-family: 'Cormorant Garamond', serif !important;
}
